/Pesquisas/nbproject/private/
/Pesquisas/build/
/TimeToLoop/nbproject/private/
/TimeToLoop/build/
/AlertBox/nbproject/private/
/AlertBox/build/
/VerificaPrimo/nbproject/private/
/VerificaPrimo/build/
/Ordenação/nbproject/private/
/Ordenação/build/
/Arvores/build/
/Arvores/nbproject/private/